@tailwind base;
@tailwind components;
@tailwind utilities;

/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

ul {
  list-style-type: none;
}

/* i stopped using most of the css and just started using tailwind and mui tbh*/

.card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
  transition: 0.3s !important;
  border-radius: 5px !important; /* 5px rounded corners */
}

.outline {
  border-style: dotted;
}

#btn{
  background-color: red;
  color:#f1f1f1
}



#btn:hover {
  background-color: blue !important;

}

.item-shadow {
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
}
.tabBackground {
  background: 'url("/Wavy_Bus-10_Single-03.jpg")';
  backgroundSize: 'cover';
  backgroundPosition: 'center';
  opacity: '0.6';
}
.getQuotationButton {
  position: 'absolute';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
}
