body {
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
  transition: 0.3s !important;
  border-radius: 5px !important; /* 5px rounded corners */
}


#btn{
  background-color: red;
  color:#f1f1f1
}

#btn:hover {
  background-color: blue !important;

}

