

.diagonal-container::before {
  content: "";
  position: absolute;
  bottom:0;/* Change from top to bottom */
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../../public/american_university_of_bahrain_cover.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}